<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.png" type="image/png" />
  <title>Gym Membership</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />

  <style>
    .nav-link {
      color: gray;
      transition: color 0.3s ease;
    }

    .nav-link:hover {
      color: white;
    }


    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  </style>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../static/img/logo-jsa.png" alt="Logo" class="img-fluid" style="max-height: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about_public">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/membership_public">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/facilities_public">Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/prabooking_public">Booking</a>
          </li>
          <li class="nav-item">
            <a href="/register"><button type="button" class="btn btn-secondary"
                style="margin-right: 10px; margin-left: 20px;">Register</button></a>
          </li>
          <li class="nav-item">
            <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="logo.png" alt="JSA Sports Hall" style="height: 80px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="membership.html">Membership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="facilities.html">Facilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="booking.html">Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">
                <i class="fas fa-user fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

  <!-- Header -->
  <header class="bg-success text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Ayo Gabung Membership Kami!</h1>
      <p class="lead">
        Pilih paket yang sesuai dengan kebutuhan anda, dan mulai perjalanan
        fitness anda sekarang juga!
      </p>
    </div>
  </header>

  <!-- Membership Plans -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Paket Membership</h2>
      <div class="row">
        <!-- Plan 1 -->
        <div class="col-md-4">
          <div class="card shadow">
            <img src="../static/img/plan1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover"
              alt="3 Months Plan" />
            <div class="card-body text-center">
              <h5 class="card-title">Paket Bulanan</h5>
              <p class="card-text">Rp.150.000 / bulan</p>
              <ul class="list-unstyled">
                <li>Akses peralatan gym</li>
                <li>Akses loker</li>
              </ul>
              <a href="#membershipForm" class="btn btn-dark">Daftar</a>
            </div>
          </div>
        </div>
        <!-- Plan 2 -->
        <div class="col-md-4">
          <div class="card shadow">
            <img src="../static/img/plan2.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover"
              alt="3 Months Plan" />
            <div class="card-body text-center">
              <h5 class="card-title">Paket 3 Bulan</h5>
              <p class="card-text">Rp. 450.000 / 3 bulan</p>
              <ul class="list-unstyled">
                <li>Semua di paket bulanan</li>
                <li>Gratis 3x sesi kelas muaythai</li>
              </ul>
              <a href="#membershipForm" class="btn btn-dark">Daftar</a>
            </div>
          </div>
        </div>
        <!-- Plan 3 -->
        <div class="col-md-4">
          <div class="card shadow">
            <img src="../static/img/plan3.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover"
              alt="3 Months Plan" />
            <div class="card-body text-center">
              <h5 class="card-title">Paket Tahunan</h5>
              <p class="card-text">Rp 1.200.000 / 12 bulan</p>
              <ul class="list-unstyled">
                <li>Diskon 33%, semua dipaket bulanan</li>
                <li>Gratis kelas muaythai 12x sesi</li>
              </ul>
              <a href="#membershipForm" class="btn btn-dark">Daftar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Membership Form -->
  <section id="membershipForm" class="bg-success py-5">
    <div class="container">
      <h2 class="text-white text-center mb-4">Daftar Sekarang!</h2>
      <form action="/api/create_membership">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="fullName" class="text-white form-label">Nama lengkap</label>
            <input type="text" class="form-control" id="fullName" placeholder="Masukan Nama Lengkap" name="name" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="text-white form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Masukkan email-mu" name="email" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="phone" class="text-white form-label">No. HP</label>
            <input type="tel" class="form-control" id="phone" placeholder="Masukan No.HP" name="phone" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="membershipPlan" class="text-white form-label">Pilih Paket</label>
            <select class="form-select" id="membershipPlan" name="paket">
              <option value="Bulanan">Paket Bulanan</option>
              <option value="3 Bulan">Paket 3 Bulan</option>
              <option value="Tahunan">Paket Tahunan</option>
            </select>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-dark text-white py-4 mt-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3" style="margin-top: -35px;">
          <img src="../static/img/logo-jsa.png" alt="" width="170px">
        </div>
        <div class="col-md-3">
          <h5 class="mb-3">Informasi</h5>
          <ul class="list-unstyled">
            <li><a href="/about_public" class="text-white text-decoration-none">About us</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mb-3">Layanan</h5>
          <ul class="list-unstyled">
            <li><a href="/membership_public" class="text-white text-decoration-none">Membership</a></li>
            <li><a href="/prabooking_public" class="text-white text-decoration-none">Booking</a></li>
          </ul>
        </div>
        <!-- Tambahkan Kolom Baru -->
        <div class="col-md-3">
          <h5 class="mb-3">Alamat</h5>
          <div>
            <a class="text-decoration-none text-white" href="https://maps.app.goo.gl/JTWUAjuuS6SjQQpT7">Jl.
              HR. Lukman No.8, Cirimekar, Kec. Cibinong, Kabupaten Bogor, Jawa Barat 16917</a>
          </div>
        </div>
        <div class="text-center mt-5">
          <p>&copy; 2024 JSA Sports Hall</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- <footer class="bg-dark text-white text-center py-3">
    <p class="mb-0">&copy; 2024 JSA Sports Hall. All Rights Reserved.</p>
  </footer> -->
</body>

</html>